<html>
<head>
  <title>AIRobotica</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div style="margin:100px;">
    <nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <a class="navbar-brand" href="/">AIRobotica</a>
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
      <li>
        <a href="/Contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>
    <div class="jumbotron"  style="padding:40px;">
      <h1>AIRobotica</h1>
      <p>AIRobotica is a chatbot Services that allows All Major Industries to communicate with customers automatically in their favorite messaging apps. Instead of picking up the phone, customers can send a message and learn how to open a new account, set a savings goal, or receive personalized advice. 

    </p>
      <p><a class="btn btn-primary btn-lg" href="http://www.airoboticatech.com/" role="button">Learn more</a></p>
      <iframe src="http://www.airoboticatech.com/" width="50%" height="300"></iframe>
    </div>
  </div>
</body>
</html>